* {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #2d2875;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #383287;
}

body {
    background-color: #0f172a;
    padding: 0;
    margin: 0;
}

.global-mdt-title {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 2rem;
}