.input-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    label {
        font-size: .8rem;
        color: #94a3b8;
    }
}

.input-field {
    display: block;
    box-sizing: border-box;
    padding: .5rem;
    border: 1px solid #1e293b;
    border-radius: .2rem;
    transition: border-color .3s;
    background-color: transparent;
    color: #ccc;
    width: 100%;
    height:     2rem;

    &:hover {
        border-color: #949494;
    }

    &:focus {
        outline: none;
        border-color: #949494;
    }

    &.input-error {
        border-color: #dc2626;
    }
}

.input-error-message {
    font-size: .7rem;
    color: #dc2626;
}